<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <title>乙醇的blog</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
