<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <title>乙醇的blog</title>
  </head>
  <body>
    <div id="content">
      <div class="container">
        <div class="page-header">
          <h3>乙醇的blog<h3>
        </div>
          <%= yield %>
      </div>
    </div>
    <div id="footer">
      <div class="container">
				<p class="text-warning">本站文章一般来说谢绝转载，如需转载，请征得本人同意,并注明作者是乙醇。</p>
				<p class="muted">联系乙醇 [watircn#gmail.com] QQ群121079522</p>
        <p class="muted credit">
          <a href="http://easonhan007.github.io/">乙醇 on github</a>
        </p>
      <div>
    </div>
  </body>
</html>
