<p class="text-right"><a href="/">返回主页</a></p>
<%= content %>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<p class="text-right"><a href="/">返回主页</a></p>
